  <style type="text/css">
  .detailsSeries {
  background: #090909 url(https://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/Art/series3.png) no-repeat;
  }
  .detailsMain, .detailsImages li {
  background: #090909 url(https://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/Art/Series3/Cain2/detailsImages.png) no-repeat;
  }
  .detailsMain {
    height:548px;
  margin-bottom:0px;
  }
  .detailsImages li{
  margin-right:0px;
  margin-top: 16px;
  }
  .detailsMaterial {
  height:154px;
  }
  </style>
      <div id="warp" itemscope itemtype="http://schema.org/Painting">
      <a href="http://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/Art/Series3/Cain2/main.png"  class="pirobox_Cain2" title="Cain 2"  itemprop="image">
        <div class="detailsMain">
        </div>
      </a>
<%= link_to(art_series3_path)  do %>
        <header class="detailsSeries" id="r3c3">
            <h1><span itemprop="headline">
            Cain 2
            </span></h1>
        </header>
      <% end %>
      <aside class="detailsMaterial">
          24&#34;x48&#34;<br>
          <span itemprop="dateCreated">
          April 2011
          </span>
          <dl itemprop="keywords">
              <dt>Material:</dt>
                <dd>Wood</dd>
                <dd>Encaustic</dd>
                <dd>Wire</dd>
                <dd>Bison Shoulder Blade</dd>
                <dd>Petroleum Varnish</dd>
          </dl>
      </aside>
      <aside class="detailsImages">
          <!--<ul id="detailsImages" class="imageSeries">-->
          <ul>
              <a href="https://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/Art/Series3/Cain2/3.png" class="pirobox_Cain2" title="Cain 2" itemprop="image">
              <li id="pc3">
              </li></a>
          </ul>
      </aside>
