  <style type="text/css">
  .detailsSeries {
  background: #090909 url(https://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/Art/series3.png) no-repeat;
  }
  .detailsMain, .detailsImages li {
  background: #090909 url(https://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/Art/Series3/Father/detailsImages.png) no-repeat;
  background-position: -1px -1px;
  }
  </style>
      <div id="warp" itemscope itemtype="http://schema.org/Painting">
      <a href="http://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/Art/Series3/Father/main.png"  class="pirobox_Father" title="Father"  itemprop="image">
        <div class="detailsMain">
        </div>
      </a>

<%= link_to(art_series1_path)  do %>
        <header class="detailsSeries" id="r3c1">
            <h1><span itemprop="headline">
            Father
            </span></h1>
        </header>
      <% end %>
      <aside class="detailsMaterial">
          24&#34;x48&#34;<br>
          <span itemprop="dateCreated">
          March 2011
          </span>
          <dl itemprop="keywords">
              <dt>Material:</dt>
                <dd>Wood</dd>
                <dd>Encaustic</dd>
                <dd>Felt</dd>
                <dd>Vintage Hand Saw</dd>
          </dl>
      </aside>
      <aside class="detailsImages">
          <ul>
              <a href="https://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/Art/Series3/Father/5.png" class="pirobox_Father" title="Father" itemprop="image">
              <li id="pc5">
              </li></a>
          </ul>
      </aside>
