  <style type="text/css">
  .detailsSeries {
  background: #090909 url(https://s3.amazonaws.com/llamido.com/images/Art/series3.png) no-repeat;
  }
  .detailsMain, .detailsImages li {
  background: #090909 url(https://s3.amazonaws.com/llamido.com/images/Art/Series3/LeapOfFaith/detailsImages.png) no-repeat;
  }
  #pc4 {
    margin-left:0px;
    margin-right:0px;
  }
  </style>
      <div id="warp" itemscope itemtype="http://schema.org/Painting">
      <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series3/LeapOfFaith/main.png"  class="pirobox_LeapofFaith" title="Leap of Faith"  itemprop="image">
        <div class="detailsMain" id="pc0">
        </div>
      </a>

<%= link_to(art_series1_path)  do %>
        <header class="detailsSeries" id="r2c3">
            <h1><span itemprop="headline">
            Leap of Faith
            </span></h1>
        </header>
      <% end %>
      <aside class="detailsMaterial">
          24&#34;x48&#34;<br>
          <span itemprop="dateCreated">
          May 2011
          </span>
          <dl itemprop="keywords">
              <dt>Material:</dt>
                <dd>Wood</dd>
                <dd>Encaustic</dd>
                <dd>Chinese Rabbit Skeleton</dd>
                <dd>Red Cord</dd>
                <dd>Iron Nails</dd>
          </dl>
      </aside>
      <aside class="detailsImages">
          <ul>
              <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series3/LeapOfFaith/1.png" class="pirobox_LeapofFaith" title="Leap of Faith" itemprop="image">
              <li id="pc1">
              </li></a>
              <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series3/LeapOfFaith/4.png" class="pirobox_LeapofFaith" title="Leap of Faith" itemprop="image">
              <li id="pc4">
              </li></a>
          </ul>
      </aside>
