  <section  itemscope itemtype="http://schema.org/Person">
      <a href="mailto:Gary@Llamido.com"  itemprop="email">
        <header id="header">
            <h1 itemprop="email">Gary@Llamido.com</h1>
        </header>
      </a>
      <article id="resume">
      <div id="bio">
          <a href="https://s3-us-west-1.amazonaws.com/gdi2290/Llamido/images/resume.png" itemprop="image" rel="photo">
          <h2 itemprop="description">Resume</h2>
          </a>
          <span itemprop="givenName">Gary Llamido</span>
          <span itemprop="gender">Male</span>
          <span itemprop="birthDate">February 24, 1967</span>
          <span itemprop="jobTitle" rel="role">Painter and Sculptor</span>
          <span itemprop="workLocation" rel="location">San Francisco Bay Area</span>
          <span itemprop="alumniOf">Otis Art Institute of Parsons School of Design</span>
          <span itemprop="awards">1985 - 1989 Bacherlor of Fine Arts</span>

          <span itemprop="performerIn">Ron Jehu Gallery: Gary Llamido Constructions, March 1997</span>
          <span itemprop="performerIn">Belcher Studios Gallery: Queer A Group Exhibition, San Francisco, January 1994</span>
          <span itemprop="performerIn">Wyle Wong Gallery: Gary Llamido Asian Arts, February 1993</span>
          <span itemprop="performerIn">Stanford University: &#8220;Natural Objects&#8221; January 1993</span>
          <span itemprop="performerIn">Elaine Benson Gallery: &#8220;From Another Place&#8221; Bridgehampton, New York, May 1992</span>
          <span itemprop="performerIn">Junior Art Center: Barnsdall Art Park, Los Angeles, July 1989</span>
          <span itemprop="performerIn">Otis Parsons: Artists&#8217; Awards Exhibition: Selected works by Gary Lloyd, Los Angeles, April 1989</span>
          <span itemprop="performerIn">Otis Parsons: North Gallery Structural Investigation, Los Angeles October 19888</span>
          <span itemprop="performerIn">Otis Parsons: North Gallery Sculpture and Painting, Los Angeles, March 1988</span>
          <span itemprop="performerIn">Otis Parsons Gallery: Group Show Awards Exhibition, Los Angeles, April 1986</span>
      </div>
      </article>
      <nav id="rightnav">
       <a href="tel:760689995">
       <h1 id="number"><span itemprop="telephone">760.689.9995</span></h1>
       </a>
         <ul class="seriesSlide">
       <!--<a href="bhj.html" title="Login form" rel="content-310-260" class="pirobox_gall1">-->
           <a href="http://Gary.Llamido.com/Art/Series1/">
               <li id="sr1">
               </li>
           </a>
           <a href="http://Gary.Llamido.com/Art/Series3/">
               <li id="sr2">
               </li>
           </a>
           <a href="http://Gary.Llamido.com/Art/Series2/">
               <li id="sr3">
               </li>
           </a>
         </ul>
      </nav>
  </section>
