  <style type="text/css">
  .detailsSeries {
  background: #090909 url(https://s3.amazonaws.com/llamido.com/images/Art/series1.png) no-repeat;
  }
  .detailsMain, .detailsImages li {
  background: #090909 url(https://s3.amazonaws.com/llamido.com/images/Art/Series1/InGodWeTrust/detailsImages.png) no-repeat;
  }
  </style>
      <div id="warp" itemscope itemtype="http://schema.org/Painting">
      <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series1/InGodWeTrust/main.png"  class="pirobox_InGODweTRUST" title="In God we Trust"  itemprop="image">
        <div id="pc0" class="detailsMain">
        </div>
      </a>

<%= link_to(art_series1_path)  do %>
        <header class="detailsSeries" id="r2c2">
            <h1><span itemprop="headline">
            In God we Trust
            </span></h1>
        </header>
      <% end %>
      <aside class="detailsMaterial">
          4&#39;x4&#39;<br>
          <span itemprop="dateCreated">
          March 2011
          </span>
          <dl itemprop="keywords">
              <dt>Material:</dt>
                <dd>Wood</dd>
                <dd>Encaustic</dd>
                <dd>Glass</dd>
                <dd>Bamboo</dd>
                <dd>Silver Coins</dd>
                <dd>Garnet Stones</dd>
                <dd>Sinew</dd>
                <dd>Fibula</dd>
                <dd>Varnish</dd>
          </dl>
      </aside>
      <aside class="detailsImages">
          <!--<ul id="detailsImages" class="imageSeries">-->
          <ul>
              <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series1/InGodWeTrust/1.png" class="pirobox_InGODweTRUST" title="In God We Trust" itemprop="image">
              <li id="pc1">
              </li></a>
              <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series1/InGodWeTrust/2.png" class="pirobox_InGODweTRUST" title="In God We Trust" itemprop="image">
              <li id="pc2">
              </li></a>
              <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series1/InGodWeTrust/3.png" class="pirobox_InGODweTRUST" title="In God We Trust" itemprop="image">
              <li id="pc3">
              </li></a>
          </ul>
      </aside>
