<nav>
  <ul id="setBoxes" class="series1">
    <a href="http://Gary.Llamido.com/Art/Series1/PerishedTriumph/">
    <li id="r1c1"><h1 itemprop="headline">
    Perished Triumph
    </h1></li></a>
    <a href="http://Gary.Llamido.com/Art/Series1/AlphaOmega/">
    <li id="r1c2"><h1 itemprop="headline">
    Alpha Omega
    </h1></li></a>
    <a href="http://Gary.Llamido.com/Art/Series1/Unveil/">
    <li id="r1c3"><h1 itemprop="headline">
    Unveil
    </h1></li></a>

    <a href="http://Gary.Llamido.com/Art/Series1/ProdigalSon/">
    <li id="r2c1"><h1 itemprop="headline">
    Prodigal Son
    </h1></li></a>
    <a href="http://Gary.Llamido.com/Art/Series1/InGodWeTrust/">
    <li id="r2c2"><h1 itemprop="headline">
    In God We Trust
    </h1></li></a>
    <a href="http://Gary.Llamido.com/Art/Series1/KINGDOM/">
    <li id="r2c3"><h1 itemprop="headline">
    KINGDOM
    </h1></li></a>

    <a href="http://Gary.Llamido.com/Art/Series1/Rabbit/">
    <li id="r3c1"><h1 itemprop="headline">
    Rabbit
    </h1></li></a>
    <a href="http://Gary.Llamido.com/Art/Series1/Cain/">
    <li id="r3c2"><h1 itemprop="headline">
    Cain
    </h1></li></a>
    <%= link_to(art_series1_babel_path) do %>
    <li id="r3c3"><h1 itemprop="headline">
    Babel
    </h1></li>
    <% end %>
 </ul>
</nav>
