<nav>
  <ul id="setBoxes" class="series2">
    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/PhasesoftheMoon1.png" class="pirobox_Series2" title="Phases of the Moon">
    <li id="r1c1"><h1 itemprop="headline">
    Phases of the Moon
    </h1></li></a>
    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/PhasesoftheMoon2.png" class="pirobox_Series2" title="Phases of the Moon">
    <li id="r1c2"><h1 itemprop="headline">
    Phases of the Moon
    </h1></li></a>
    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/MoonFestival1.png" class="pirobox_Series2" title="Moon Festival">
    <li id="r1c3"><h1 itemprop="headline">
    Moon Festival
    </h1></li></a>

    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/BlackFloodSeries1.png" class="pirobox_Series2" title="Black Flood Series">
    <li id="r2c1"><h1 itemprop="headline">
    Black Flood Series
    </h1></li></a>
    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/MoonFestival2.png" class="pirobox_Series2" title="Moon Festival">
    <li id="r2c2"><h1 itemprop="headline">
    Moon Festival
    </h1></li></a>
    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/Kasaya1.png" class="pirobox_Series2" title="Kasaya">
    <li id="r2c3"><h1 itemprop="headline">
    Kasaya
    </h1></li></a>

    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/BlackFloodSeries2.png" class="pirobox_Series2" title="Black Flood Series">
    <li id="r3c1"><h1 itemprop="headline">
    Black Flood Series
    </h1></li></a>
    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/Kasaya2.png" class="pirobox_Series2" title="Kasaya">
    <li id="r3c2"><h1 itemprop="headline">
    Kasaya
    </h1></li></a>
    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/Sinyasa.png" class="pirobox_Series2" title="Sinyasa">
    <li id="r3c3"><h1 itemprop="headline">
    Sinyasa
    </h1></li></a>
    <a href="https://s3.amazonaws.com/llamido.com/images/Art/Series2/Sinyasa2.png" class="pirobox_Series2" title="Sinyasa"></a>
 </ul>
</nav>
