// Place all the styles related to the series1 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#warp {
  width:718px;
}
.detailsMain {
  width:470px;
  height:358px;
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
  margin-left: 2px;
}
.detailsSeries {
  width:226px;
  height:169px;
  margin-bottom: 16px;
  text-indent: -9999px;
  float: right;
}
.detailsMaterial {
  background:url(https://s3.amazonaws.com/llamido.com/images/Art/bg.png);
  width:216px;
  height:151px;
  overflow-y:scroll;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  float: right;
}
.detailsMaterial:hover {
  border-right: 1px solid rgba(255,0,0,0.4);
}
.detailsMaterial dd {
  margin-left: 20px;
}
.detailsMaterial dt {
  margin-top: 10px;
}
.detailsMain, .detailsSeries, .detailsMaterial {
  display: inline;
  position: relative;
  background-color:#090909;
}
.detailsImages{
  float: right;
  height: 173px;
  display: inline;
  position: relative;
}
.detailsImages li {
  width: 226px;
  height: 169px;
  float: left;
  margin-right: 16px;
  display: block;
  position: relative;
}
#pc3, #pc5 {
  margin-right:0px;
}
#pc4 {
  width: 470px;
  margin-left: 2px;
}
#pc5 {
  width: 714px;
  margin-left: 2px;
}
