  <section  itemscope itemtype="http://schema.org/Person">
      <a href="mailto:Gary@Llamido.com"  itemprop="email">
        <header id="header">
            <h1 itemprop="email">Gary@Llamido.com</h1>
        </header>
      </a>
